<main>
    <div class="main-container">
        <h1>Новый аккаунт</h1>
        <form class="sign-up-form" id="sign-up-form">
            <input [(ngModel)]="email" name="email" class="dns-input" id="email-input"
                placeholder="Email..." />
            <input [(ngModel)]="password" name="password" class="dns-input" id="password-input"
                placeholder="Пароль..." />
            <span *ngIf="errorText" id="sign-up-error" class="error">{{errorText}}</span>
            <button (click)="signUp()" type="submit" class="submit-button">Создать</button>
            <a routerLink="/login">Авторизация</a>
        </form>
    </div>
</main>