<header class="flex-container content-container">
    <div class="logo-container">
        <h1>
            Магазин электроники
        </h1>
    </div>

    <nav class="main-nav flex-container">
        <a routerLink="">Каталог</a>
        <a routerLink="/basket">Корзина</a>
        <a routerLink="/purchased">История</a>
    </nav>

    <button *ngIf="!isLoggedIn" id="sign-in-button" class="submit-button"  routerLink="/login">Войти</button>

    <div *ngIf="isLoggedIn" id="user-account-container" class="user-account-container">
        <span id="user-email">{{userEmail}}</span>
        <div class="account-info-dropdown">
            <button (click)="logOut()" id="sign-out-button" class="flex-container">
                <svg aria-hidden="true" focusable="false" viewBox="0 0 16 16" width="16" height="16"
                    fill="currentColor">
                    <path
                        d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 0 1 0 1.5h-2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 0 1.5h-2.5A1.75 1.75 0 0 1 2 13.25Zm10.44 4.5-1.97-1.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l1.97-1.97H6.75a.75.75 0 0 1 0-1.5Z">
                    </path>
                </svg>
                <span>Выйти</span>
            </button>
        </div>
    </div>
</header>

<main>
    <div class="content-container root flex-container">
        <ul id="product-list" class="product-list" *ngIf="boughtProducts$ | async as products">
            <ng-container *ngFor="let product of products">
                <li class="product-item">
                    <div class="product-img">
                        <img [src]="product.productImageUrl" [alt]="product.productName">
                    </div>
                    <div class="product-info">
                        <h3>{{product.productName}}</h3>
                        <p class="category">{{product.productCategory}}</p>
                    </div>
                    <div class="product-actions">
                        <p class="stock">Цена за шт: <span>{{product.productPrice.toLocaleString()}}</span></p>
                        <p class="stock">Кол-во: <span>{{product.productQuantity}}</span></p>
                        <p class="price">Сумма покупки:
                            <span>{{(product.productPrice * product.productQuantity).toLocaleString()}}</span>
                        </p>
                    </div>
                    <button class="delete-button" (click)="onDelete(product)">Удалить</button>
                </li>
            </ng-container>
        </ul>
    </div>

    <div class="product-actions actions-container content-container" *ngIf="boughtProducts$ | async as products">
        <p class="price">Кол-во наименований: <span id="products-count">{{totalQuantity}}</span></p>
        <p class="price">Итоговая сумма: <span id="full-amount">{{totalSum}}</span></p>
        <button class="submit-button" id="buy-basket-btn" (click)="buyProducts(products)">Оформить покупку</button>
    </div>
</main>

<footer></footer>