.actions-container {
    padding-top: 40px;
    display: flex;
    gap: 15px !important;
    align-items: center !important;
    flex-direction: row !important;
}

.product-card.selected {
    border-color: #ff7f00;
    background-color: #fffaf3;
}

.product-card input[type="checkbox"] {
    margin-top: 10px;
    accent-color: #ffa218;
    width: 18px;
    height: 18px;
    cursor: pointer;
}